<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">

  <title>Página Incial</title>
  
</head>

<body>
<header>
<a href="/"><h1>L.NEWS</h1></a>
</header>

<div class="LOGO"><img src="images/logo.png">

</div>

<div class="BOTAO"><a href="/noticias"><img src="images/botao.png"></a>
</div>


<footer>

<h4>CONTATE-NOS:</h4> <p>lauane.santos@estudante.ifms.edu.br |
(67)9 9999-9999 | (67)3441-9999</p>

<h4>2021 - ©L.News - TODOS OS DIREITOS RESERVADOS.</h4>

</footer>
</body>

</html>
