<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">  
  <title>Saiba como funciona o documento de carro digital e o que muda para o motorista</title>
</head>

<body>

<header>
<a href="/"><h1>L.NEWS</h1></a>
</header>

<h1 class="TITULO2">Saiba como funciona o documento de carro digital e o que muda para o motorista</h1>
<img src="/images/not3.jpg" class="FOTO">
<p>É difícil enxergar algo positivo na pandemia, mas algumas ações tomadas de março de 2020 para cá podem de fato facilitar a vida de quem tem ou quer ter um veículo no Brasil. Com o fechamento dos postos físicos dos Detrans (Departamentos Estaduais de Trânsito) no ano passado, foi necessária a liberação de documentos em formato digital. A virtualização de processos como licenciamento e transferência suspendeu o uso do papel.</p>

<p>Mas governo e usuários gostaram da ideia e, desde de janeiro de 2021, passou a vigorar a resolução do Contran nº 809/2020. Com ela, o Certificado de Registro do Veículo (CRLV ou o “documento de rodar”) passou a ser emitido pelos órgãos responsáveis apenas por meio digital. Assim, deixou de existir o documento impresso em papel-moeda verde e emitido pelos Detrans de cada estado.</p>

<p>O mesmo aconteceu para o Documento Único de Transferência, o DUT. Quem comprou um carro depois de 4 de janeiro já não tem o papel necessário para realizar a transferência do veículo. O que era o DUT impresso foi transformado na ATPV-e ou Autorização para Transferência de Propriedade de Veículo digital.</p>

<p>Apesar das mudanças do físico para o virtual, é importante ressaltar para quem ainda possui CRLV ou DUT de papel que tais documentos permanecem válidos. O CRLV vence junto ao licenciamento do veículo, enquanto o documento de transferência não tem data de validade.</p>

<b>Entenda como funciona o documento digital</b>
<p>A diferença mais importante entre o CRLV de papel e o digital é que o condutor ou proprietário do veículo pode ter acesso ao documento no celular. O processo de licenciamento em si não mudou. Porém, após o pagamento e a quitação dos débitos, tem-se acesso ao documento digital, que vincula automaticamente o Certificado de Registro de Veículo (CRV) e o Certificado de Licenciamento Anual (CLA) em um único lugar. Não haverá mais a impressão de documento em papel pelo Detran ou sua entrega pelos Correios.</p>

<p>Há dois caminhos para se ter acesso ao CRLV digital. O mais simples é por meio do aplicativo de celular Carteira Digital de Trânsito (CDT), desenvolvido pelo Serviço Federal de Processamento de Dados (SERPRO). Ao se vincular o número do Renavam do veículo, o aplicativo exibe o documento na tela do aparelho. O motorista também pode fazer uma consulta rápida às infrações, débitos ou restrições do automóvel por esse aplicativo.</p>

<p>A outra opção é o site do Denatran, que também permite ter acesso ao CRLV digital, caso o motorista não tenha o aplicativo.</p>

<b>Motorista pode imprimir documento</b>
<p>Em ambos os casos, os proprietários que ainda quiserem ter o documento de papel poderão imprimi-lo diretamente do aplicativo ou do site do Denatran. Ele terá o mesmo valor legal e, assim como o digital, será autenticado por meio de um QR Code que está vinculado ao CRLV. É uma opção interessante para se precaver caso o celular fique sem bateria, por exemplo.</p>

<p>Outra facilidade oferecida pelo aplicativo Carteira Digital de Trânsito é a possibilidade de também se vincular a habilitação diretamente no celular. Se a sua CNH já tem um QR Code no verso, ela pode ser vinculada ao aplicativo. A versão digital do documento, também chamada de CNH-e ou CNH Digital, tem o mesmo valor legal que a de papel. No entanto, se pedida por uma autoridade, precisa ser exibida por meio do próprio aplicativo. Capturas de tela, por exemplo, não são válidas. A CNH tradicional de papel continua valendo normalmente.</p>

<b>Transferência de carro digital</b>
<p>Para quem vai transferir a propriedade de um veículo, como no caso de vendas, o Documento Único de Transferência (DUT) deixou de existir no início do ano para dar lugar à ATPV-e (Autorização para Transferência de Propriedade de Veículo digital).</p>

<p>Não é necessário mais guardar esse documento digital, como era com o DUT físico e que gerava diversos problemas de perdas. A diferença é que o proprietário só pedirá o acesso à ATPV-e quando precisar.</p>

<p>O procedimento em si não mudou muito. O passo a passo continua variando conforme as regras de cada Detran, mas alguns requisitos básicos são iguais. A primeira etapa para quem vende um veículo é agendar o serviço no Detran. Lá, comunica-se a intenção de venda. Para isso são pedidos o RG e o CPF do vendedor, além de cópias simples dos mesmos documentos do comprador.</p>

<p>Então acontece a solicitação, o preenchimento dos dados dos envolvidos no negócio e a emissão da ATPV-e. Feito isso, o Detran emite o documento de forma digital e com um QR Code. A partir daí, o vendedor pode imprimir a ATPV-e.</p>

<p>Depois, o processo é igual ao Documento Único de Transferência. Em posse da ATPV-e, comprador e vendedor vão a um cartório para o reconhecimento de firmas e a transferência segue como sempre foi.</p>

<p>Apesar de parecer apenas que foi acrescentada mais uma etapa ao já burocrático processo de transferência de um veículo, o sistema digital da ATPV-e tem uma grande vantagem sobre o antigo DUT de papel. Ao contrário do Documento Único de Transferência, não há a perda do documento em si, que passa a ser acessado e emitido só no momento necessário.</p>

<p>Mesmo com o processo de transferência sendo agora parcialmente digitalizado, ainda é preciso ter alguns dos antigos cuidados de sempre. Um deles é pedir a comunicação de venda no cartório. Com ela, o vendedor se protege de possíveis multas tomadas pelo comprador que não completou a transferência. Sem isso, as infrações vão para o último motorista responsável pelo veículo registrado.</p>

<p>Outro fator que não se pode ser esquecido é que a transferência com a ATPV-e continua tendo o mesmo prazo para ser realizada que o DUT, que são de 30 dias.</p>

<div class="BOTAO"><a href="/noticias"><img src="/images/botao.png"></a>
</div>

<footer>

<h4>CONTATE-NOS:</h4> <p>lauane.santos@estudante.ifms.edu.br |
(67)9 9999-9999 | (67)3441-9999</p>

<h4>2021 - ©L.News - TODOS OS DIREITOS RESERVADOS.</h4>

</footer>

</body>

</html>