<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">  
  <title>O lago que contém a mais antiga forma de vida na Terra, de 3 bilhões de anos</title>
</head>

<body>

<header>
<a href="/"><h1>L.NEWS</h1></a>
</header>

<h1 class="TITULO2">O lago que contém a mais antiga forma de vida na Terra, de 3 bilhões de anos</h1>
<img src="/images/not4.jpg" class="FOTO">
<p>A beleza do lago Bacalar, de acordo com Claudio Del Valle, vai além dos sete tons brilhantes de azul, que variam do turquesa vivo ao cobalto profundo, da lagoa mexicana.</p>

<p>Na verdade, diz o guia turístico local, vai até 100 m de profundidade — no fundo de calcário do lago, que abriga a vida mais antiga do planeta.</p>

<p>Estromatólitos: como a forma de vida mais antiga conhecida ajudou a tornar a Terra habitável
As algas que sobreviveram a 16 mil anos de mudanças climáticas
Del Valle explica que o mais importante ao visitar o longo e estreito lago próximo à fronteira com Belize é não deixar rastros.</p>

<p>Ele passou anos levando grupos para fazer tours de stand-up paddle antes do amanhecer, enquanto o sol lançava seus primeiros raios sobre a lagoa.</p>

<p>"Graças ao stand-up paddle, tive a oportunidade de explorar a maior parte da lagoa... era tão única, tão majestosa, tão bonita", diz ele.
"A claridade da água dá esta coloração única do azul ao verde; era delicioso apreciar."</p>

<p>O Lago Bacalar vem caminhando para um desastre ecológico na última década, de acordo com Luisa Falcón, ecologista microbiana da Universidade Nacional Autônoma do México em Mérida.</p>

<p>Em novembro de 2015, a agência federal de proteção ambiental do México emitiu um alerta de poluição para o lago.</p>

<p>O problema atingiu seu ápice em junho de 2020, quando a tonalidade do Lago Bacalar se tornou marrom opaca. E ele ainda não se recuperou totalmente.</p>

<p>Mas se nada for feito, o dano pode ir muito além da tonalidade estética da água, alerta Falcón.</p>

<p>Bacalar abriga o maior recife de microbialita de água doce do mundo — estruturas semelhantes a rochas formadas por milhares de micróbios que fazem a precipitação de minerais carbonáticos.</p>

<p>"Os microbialitos de Bacalar têm uma idade que varia entre décadas e mais de 9 mil anos", diz ela.</p>

<p>Mas é a contraparte fóssil viva do microbialito, os estromatólitos, que data de "aproximadamente 3,5 bilhões de anos", tornando a população de Bacalar a mais antiga evidência de vida na Terra.</p>

<p>Os estromatólitos se assemelham a uma couve-flor — grandes estruturas bege "acolchoadas" que crescem no fundo de calcário da lagoa.</p>

<p>Eles se parecem com rochas, mas na verdade estão vivos.</p>

<p>O sedimento se deposita milímetro a milímetro, com o auxílio de organismos fotossintetizantes chamados cianobactérias, até que as estruturas se transformam em um monte rochoso subaquático que pode ser visto na superfície de águas rasas.</p>

<p>Os estromatólitos parecidos com couve-flor ainda existem apenas em alguns lugares do mundo — e a população de Bacalar revela uma história que parou no tempo, como a temperatura ou a composição geoquímica da água há milhões de anos.</p>

<p>Isso porque eles realmente preservam as condições físico-químicas da água em seu processo de sedimentação incrivelmente lento.</p>

<div class="BOTAO"><a href="/noticias"><img src="/images/botao.png"></a>
</div>

<footer>

<h4>CONTATE-NOS:</h4> <p>lauane.santos@estudante.ifms.edu.br |
(67)9 9999-9999 | (67)3441-9999</p>

<h4>2021 - ©L.News - TODOS OS DIREITOS RESERVADOS.</h4>

</footer>

</body>

</html>