<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  
  <title>Últimas Notícias</title>
</head>

<body>

<header>
<a href="/"><h1>L.NEWS</h1></a>
</header>


<img src="images/not1.jpg" width="900px" class="FOTO">
<h1 class="TITULO"><a href="noticias/01">O Guia Financeiro está no ar, plataforma de streaming da Guide Investimentos </a></h1>

<h3>
Investidores, de todos os níveis, já estão acessando a única plataforma de streaming que une educação com research – O Guia Financeiro.
joaomanzoni
</h3>

<img src="images/not2.jpg" width="900px" class="FOTO">
<h1 class="TITULO"><a href="noticias/02">Elemento “escondido” em obra de arte é o último mistério do holandês Vermeer</a></h1>

<h3>
Museu na Alemanha lançou o quadro "Garota lendo uma carta em uma janela aberta" drasticamente alterado; artista holandês pintou a obra entre 1657 e 1659
</h3>


<img src="images/not3.jpg" width="900px" class="FOTO">
<h1 class="TITULO"><a href="noticias/03">Saiba como funciona o documento de carro digital e o que muda para o motorista</a></h1>

<h3>
Desde janeiro de 2021, os veículos registrados no Brasil não possuem nenhum documento de papel. Veja o que isso altera sua vida
</h3>

<img src="images/not4.jpg"  width="900px" class="FOTO">
<h1 class="TITULO"><a href="noticias/04">O lago que contém a mais antiga forma de vida na Terra, de 3 bilhões de anos</a></h1>

<h3>A beleza do lago Bacalar, de acordo com Claudio Del Valle, vai além dos sete tons brilhantes de azul, que variam do turquesa vivo ao cobalto profundo, da lagoa mexicana.
</h3>

<div class="BOTAO2"><a href="/"><img src="images/botao2.png"></a>
</div>

<footer>

<h4>CONTATE-NOS:</h4> <p>lauane.santos@estudante.ifms.edu.br |
(67)9 9999-9999 | (67)3441-9999</p>

<h4>2021 - ©L.News - TODOS OS DIREITOS RESERVADOS.</h4>


</footer>

</body>

</html>