<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/stylesheets/style.css">  <title>Elemento “escondido” em obra de arte é o último mistério do holandês Vermeer</title>
</head>

<body>

<header>
<a href="/"><h1>L.NEWS</h1></a>
</header>

<h1 class="TITULO2">Elemento “escondido” em obra de arte é o último mistério do holandês Vermeer</h1>
<img src="/images/not2.jpg" class="FOTO">
<p>Por cerca de três séculos, a menina lendo uma carta na solidão mal iluminada de um quadro de Johannes Vermeer não deu nenhuma indicação do que a mensagem continha.</p>

<p>De frente para uma janela aberta, sua figura suavemente curvada enquanto ela examinava a nota em suas mãos, seu corpo parecia leve contra a parede vazia atrás dela. Mas na semana passada, a galeria Gemäldegalerie Alte Meister em Dresden, na Alemanha, que a abrigou durante a maior parte de sua longa vida, finalmente revelou um segredo amoroso, escondido há muito tempo sob camadas de tinta.</p>

<p>Após um trabalho árduo de quatro anos de duração da restauração, a parede vazia mostra agora uma pintura monumental de Cupido, descoberta por raios-X em 1979, mas agora revelada pela primeira vez.</p>

<p>A revelação de Cupido, o deus romano do amor, muitas vezes representado como um menino alado, dá à carta da menina novas conotações de afeto, saudade e desejo. A pintura está em exibição na galeria Gemäldegalerie desde 10 de setembro, junto com outras nove obras importantes de Vermeer e 50 pinturas de seus colegas holandeses.</p>

<p>Quando o Cupido oculto foi encontrado pela primeira vez há mais de quatro décadas, acreditava-se que o próprio artista nascido em Delft o pintara. Raios-X de outras obras de arte famosas frequentemente revelam rascunhos iniciais, e Vermeer era conhecido por retrabalhar suas composições, acreditando que a harmonia de suas pinturas refletia a harmonia de Deus, de acordo com Stephan Koja, historiador de arte e diretor da Gemäldegalerie Alte Meister.</p>

<p>“Era bom senso pensar que Vermeer havia pintado essa parte de sua composição porque ele já havia feito isso várias vezes”, disse Koja em uma entrevista em vídeo. “Ele realmente era um perfeccionista tentando obter a composição mais calibrada e mais convincente.”</p>
<p>Mas quando os conservadores começaram a limpar a pintura em 2017, eles encontraram evidências sugerindo o contrário. O verniz na parede vazia atrás da jovem era de uma cor diferente, e a consistência da tinta também, disse Koja. Quando os pesquisadores investigaram amostras em um laboratório de arqueometria, eles encontraram sujeira escondida entre as camadas de tinta, sinalizando que outra pessoa havia adicionado a tinta muito mais tarde.</p>

<p>“Percebemos que a sujeira significava que a pintura estava terminada; ela foi exposta à luz e às circunstâncias de uma sala por várias décadas”, disse Koja. Agora, a equipe envolvida acredita que foi pintado em algum momento do início do século 18. Mas quanto a quem fez isso, só nos resta imaginar.</p>

<b>Não é o único mistério</b>
<p>O Cupido escondido está longe de ser o único mistério da vida do artista barroco. O pintor, como o enigmático mestre renascentista Leonardo da Vinci, teve uma produção preciosamente pequena, com apenas cerca de 34 telas que se acredita terem sobrevivido até hoje. Ele é mais conhecido por suas delicadas cenas internas com figuras solitárias banhadas pela luz da janela, sugerindo narrativas deixadas intencionalmente vagas.</p>

<p>“(Com) a única pessoa perdida em seus pensamentos, há um certo mistério, então podemos nos relacionar com os sentimentos e emoções das pessoas que vemos”, disse Koja. “De certa forma, nenhum de seus contemporâneos foi capaz de fazer isso.”</p>

<p>As identidades dos súditos de Vermeer também são um enigma, incluindo a mulher em sua obra mais famosa, “Garota com um brinco de pérola”. Os historiadores da arte também ainda estão debatendo as técnicas que ele usou para criar suas ilusões de ótica, particularmente a questão de se ele usou uma “câmera obscura” – uma sala escura com um orifício que projeta uma imagem fotográfica – para criar sua profundidade de campo. Não se sabe nem onde Vermeer aprendeu a pintar ou com quem aprendeu – uma linhagem que é normalmente bem documentada para os mestres da história da arte.</p>

<p>Quem pintou sobre o Cupido em “Garota lendo uma carta na janela aberta”, ou por que o fizeram, pode nunca ser resolvido. A pintura veio de uma coleção francesa no início do século 18, quando Vermeer não era muito conhecido – ele morreu com grandes dívidas em 1675. Koja sugeriu que a pintura pode ter sido modificada para se parecer mais com a obra de Rembrandt, possivelmente pelo mordomo flamengo da coleção, que também era artista.</p>

<p>Alterar a pintura de outra pessoa “era bastante típico na época”, disse Koja. “As pinturas foram alteradas de acordo com o gosto … Hoje em dia, pensamos que é completamente inconcebível como você pode tocar um Vermeer, mas outros (em) séculos antes de nós não hesitaram.”
Várias outras pinturas de Vermeer foram inexplicavelmente alteradas, também, Koja explicou, de um céu azul inteiro pintado em seu trabalho inicial “Diana e seus companheiros” para um porta-retratos modificado em “Mulher segurando um equilíbrio”. (Ambas as pinturas foram restauradas às suas composições originais.)</p>

<b>Um rosto familiar</b>
<p>Para recuperar o Cupido, os conservadores das Coleções de Arte do Estado de Dresden decidiram não remover o verniz original do século 17, mas em vez disso, removeram meticulosamente camadas de tinta com um bisturi médico sob um microscópio com ampliação de 120x, de acordo com Koja.</p>

<p>O processo demorou dois anos e meio, com apenas alguns milímetros quadrados cobertos por dia.
O Cupido que eles revelaram era familiar. Em pé, com o braço esquerdo erguido e o direito segurando um arco, o querubim louro e rechonchudo apareceu em outras obras de Vermeer.</p>

<p>O deus do amor desempenha um papel coadjuvante em “Girl Interrupted at Her Music”, da Frick Collection em Nova York, bem como em “Young Woman Standing at a Virginal”, que o museu de Dresden pegou emprestado da National Gallery em Londres para seu novo show.</p>

<p>Koja disse que se suspeita que o recém-descoberto Cupido tenha sido baseado em uma pintura real de posse do artista. Um inventário dos pertences de sua viúva de 1676 faz referência a “um Cupido”, de acordo com o jornal The Art Newspaper.</p>

<p>Sua aparência altera o significado de uma das obras mais importantes de Vermeer – uma que representou uma grande mudança na carreira do artista. As primeiras pinturas de Vermeer não foram ambientadas em casas contemporâneas da classe média, mas foram grandes obras retratando temas religiosos e mitológicos, de Jesus Cristo à deusa Diana. No final da década de 1650, entretanto, ele começou a voltar seus olhos para temas modernos – o que ficou conhecido como “pinturas de gênero” da vida cotidiana, que são a marca registrada da Idade de Ouro holandesa.</p>
<p>“‘Garota lendo uma carta pela janela’ é realmente a peça essencial de sua transformação de pintor de história em pintor da vida moderna – no Vermeer que conhecemos hoje”, disse Koja.</p>

<p>Logo após terminar a pintura, o artista embarcou em seus temas e motivos mais famosos: mulheres jovens (e o homem ocasional) perdidas em pensamentos na quietude de quartos iluminados com a luz do meio-dia. A presença do espectador também pode ser sentida, conforme observamos as figuras tocando música, lendo cartas misteriosas ou contemplando objetos pesados ​​de significado filosófico. Os súditos de Vermeer às vezes são interrompidos por nossa presença, voltando-se para olhar nossa intrusão.</p>

<p>“O que há de tão fantástico em Vermeer é que ele deixa as coisas em aberto e as deixa para nossa imaginação”, disse Koja. “E é (como) todo tipo de arte – seja música, teatro ou filme. Acho que você gosta da maioria das que têm um certo mistério … como diretores de cinema que lhe dão pistas e depois deixam você terminar a ideia. Isso é algo que Vermeer dominou. ”</p>


<div class="BOTAO"><a href="/noticias"><img src="/images/botao.png"></a>
</div>

<footer>

<h4>CONTATE-NOS:</h4> <p>lauane.santos@estudante.ifms.edu.br |
(67)9 9999-9999 | (67)3441-9999</p>

<h4>2021 - ©L.News - TODOS OS DIREITOS RESERVADOS.</h4>

</footer>

</body>

</html>